<div class="main-content" id="divRowGraficos">
    <div class="container-fluid">
      
      <!-- Graficos -->
      <div class="row" #divRowGraficos>
        <div class="col-md-4">
          <div class="card card-chart">
            <div class="card-header card-header-success" data-header-animation="true">
              <div class="ct-chart" id="dailySalesChart"></div>
            </div>
            <div class="card-body">
              <div class="card-actions">
                <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                  <i class="material-icons">build</i> Atualizar
                </button>
                <button mat-raised-button type="button" class="btn btn-info btn-link" matTooltip="Atualizar" [matTooltipPosition]="'below'">
                  <i class="material-icons">refresh</i>
                </button>
                <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="Mudar Data" [matTooltipPosition]="'below'">
                  <i class="material-icons">edit</i>
                </button>
              </div>
              <h4 class="card-title">Lançamentos Por Dia</h4>
              <p class="card-category">
                <br/>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">date_range</i> Ultimos 7 dias
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-chart">
            <div class="card-header card-header-info" data-header-animation="true">
              <div class="ct-chart" id="websiteViewsChart"></div>
            </div>
            <div class="card-body">
              <div class="card-actions">
                <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                  <i class="material-icons">build</i> Atualizar
                </button>
                <button mat-raised-button type="button" class="btn btn-info btn-link" matTooltip="Atualizar" [matTooltipPosition]="'below'">
                  <i class="material-icons">refresh</i>
                </button>
                <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="Mudar Data" [matTooltipPosition]="'below'">
                  <i class="material-icons">edit</i>
                </button>
              </div>
              <h4 class="card-title">Lançamentos Efetivados</h4>
              <p class="card-category"><br/></p>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">date_range</i> Ultimos 12 Mêses
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="card card-chart">
            <div class="card-body">
              <div id="chartPreferences" class="ct-chart"></div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-md-12">
                  <!--<h6 class="card-category">Legend</h6>-->
                </div>
                <div class="col-md-12">
                  <i class="fa fa-circle text-info"></i> Efetivados
                  <i class="fa fa-circle text-danger"></i> Rejeitados
                  <i class="fa fa-circle text-warning"></i> Não Efetivados
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Ações -->

      <div class="row" #divRowAcoes>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
              <div class="card-header card-header-icon card-header-success">
                <div class="card-icon">
                  <i class="material-icons">add</i>
                </div>
                <p class="card-category">Novos Lançamentos</p>
                <h3 class="card-title">3</h3>
              </div>
              <div class="card-body">
                <!--
                  <a class="text-primary" href="#"><i class="material-icons">apps</i> Em Lote</a> &nbsp;&nbsp;&nbsp;
                  <a class="text-primary" href="#"><i class="material-icons">content_paste</i> Individual</a>   
                -->
                <button mat-raised-button class="btn btn-success" matTooltip="Em Lote" [matTooltipPosition]="'below'">
                  <i class="material-icons">apps</i>
                </button>&nbsp;&nbsp;&nbsp;
                <button mat-raised-button class="btn btn-success" 
                  matTooltip="Individual" [matTooltipPosition]="'below'"
                  [routerLink]="['/dashboard', 'lancamento', 'individual']">
                  <i class="material-icons">content_paste</i> 
                </button>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">date_range</i> Nas Ultimas 24 horas
                </div>
              </div>            
          </div>
      </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">done_all</i>
              </div>
              <p class="card-category">Lançamentos Efetivados</p>
              <h3 class="card-title">75.521</h3>
            </div>
            <div class="card-body">
              <!--<a class="text-primary" href="#"><i class="material-icons">search</i> Detalhar</a> -->
              <button mat-raised-button class="btn btn-info" matTooltip="Detalhar" [matTooltipPosition]="'below'">
                <i class="material-icons">search</i> 
              </button>            
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">date_range</i> Ultimos 7 dias
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon">
                <i class="material-icons">info</i>
              </div>
              <p class="card-category">Minhas Pendencias</p>
              <h3 class="card-title">80</h3>
            </div>
            <div class="card-body">
              <!--<a class="text-primary" [routerLink]="['/lancamentos', 'pendentes']" ><i class="material-icons">search</i> Detalhar</a>-->
              <button mat-raised-button class="btn btn-danger" 
                 matTooltip="Detalhar" [matTooltipPosition]="'below'"
                [routerLink]="['/dashboard', 'lancamentos', 'pendentes']"
                (click)="divRowAcoes.scrollIntoView()">
                <i class="material-icons">search</i> 
              </button>            
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">update</i> Atualizado
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons">help</i>
              </div>
              <p class="card-category">Solicitações Pendentes</p>
              <h3 class="card-title">5</h3>
            </div>
            <div class="card-body">
              <!--<a class="text-primary" href="#"><i class="material-icons">search</i> Detalhar</a> -->
              <button mat-raised-button class="btn btn-warning"
              matTooltip="Detalhar" [matTooltipPosition]="'below'"
              [routerLink]="['/dashboard', 'lancamentos', 'aguardando']">
                <i class="material-icons">search</i> 
              </button>             
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">update</i> Atualizado
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Router Outlet -->
      <div #divRowRouterOutlet>
        <router-outlet></router-outlet>
      </div>


      

    </div>
</div>
